@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<table>
<a href="/Snakes/Create/">Create new snake</a>
	@foreach (var p in (ViewData["Products"] as List<middleterraincoatllist.CompanyInfo>)) {
	<tr><td>
		@p.Name
		<br />
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="@p.Url">@p.Url</a>
		<br />
		@p.Description
	</td></tr>
	}
</table>
</body>
</html>

