<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SharpHSQL" />
      <add invariant="System.Data.SharpHSQL" type="System.Data.Hsql.SharpHsqlDbProviderFactory, SharpHsql, Version=4.0.1.0, Culture=neutral" name="SharpHSQL Provider" description="SharpHSQL ADO .Net Data Provider" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="ConnStr" providerName="System.Data.SharpHSQL" connectionString="database=test;user id=sa;password=;" />
  </connectionStrings>
</configuration>
